body {
}
.search-panel {
    margin-top: 30px;
}
#btnSearch {
    margin-top: 10px;
}
.input-group + .input-group {
    margin-top: 5px;
}
#tblSearchResult th, #tblSearchResult td {
    vertical-align: middle;
}
#tblSearchResult th {
    background-color: #bbdefb;
}
#tblSearchResult tr:nth-child(odd) {
    background-color: #ffffff;
}
#tblSearchResult tr:nth-child(even) {
    background-color: #f5f5f5;
}
.pc {
    display: table-cell;
}
@media screen and (max-width: 480px) {
    .pc {
        display: none;
    }
}
.mw-80 {
    min-width: 80px;
}